html {
 background-image: url('assets/Body BG.png');
 font-family: Helvetica, "Times New Roman", Times, Georgia;
 max-width: 640px;
 min-width: 320px;
}

/*   ---- Message Display Area -----*/
#Message_Screen{
  overflow: auto;
  width: 100%;
  height: 736px;
}

.bubble {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  max-width: 420px;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(127,127,127,0.5);
  width: max-content;
  background: white;

}

.bubble_me {
  float: right;
  background: rgb(249, 250, 199);
}

.time {
  color: rgb(169,169,169);
  line-height: 160%;
  font-size: small;
}

.author {
  color: rgb(169,169,169);
  line-height: 160%;
  font-size: small;
}


.message {
  color: black;
  line-height: 160%;
  font-size: 16px;
}




/*   ---- Input Area  --------*/

.input_container{
  width: 100%;
  height: 64px;
  background-color: rgb(77, 173, 245);
}

#Input_Box{
  width: 74.5%;
  padding: 13px 12px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 3px;
  display: inline-block;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

#Submit_Button{
  width: 20%;
  background-color: rgb(255, 144, 144);
  font-size: 1.2em;     /* percentage */
  text-align: center;
  color: white;
  padding: 12px;
  margin-top: 8.5px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
